/*Name this external file gallery.css*/
body{
		margin: 0%;
		border: 0.01px solid black;
		background-color: #3f3e99;
}

.container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  margin-top: 30px;
  margin-left: 60px;
  gap: 60px; 
}


#image{
    line-height:590px;
		width: 875px;
    height: 590px;
		border:4px solid #141430;
		margin:0 auto;
    background-color: #9d90c3;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100%;
    font: "Arial";
    font-size:x-large;
    font-style:inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:start;
    color: #ffffff ;
}
.preview{
		width:200px;
    border: 5px solid #141430;
}
img{
		width:95%;
}

p{
    font: "Arial";
    font-size:x-large;
    font-style:inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #191784 ;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; 
  margin-right: 80px; 
}